<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess That Animal Doodle</title>
    <style>
        
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <script src="https://cdn.jsdelivr.net/npm/typewriter-effect@2.18.2/dist/core.min.js"></script>
</head>

<body>
    <img class="logo" src="{{ url_for('static', filename='images/logo.webp') }}" />
    <div id="drawing-board" class="grid"></div>
    <div class="controls">
        <button id="clear-btn">Clear</button>
        <button id="guess-btn">Guess</button>
    </div>
    <p id="guess-result"></p>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>